version: "3.9"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prom
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    ports:
      - "9090:9090"
    restart: unless-stopped

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - tempo
      - loki
    restart: unless-stopped

  tempo:
    image: grafana/tempo:latest
    container_name: tempo
    command: [ "-config.file=/etc/tempo.yml" ]
    volumes:
      - ./tempo/tempo.yml:/etc/tempo.yml:ro
    ports:
      - "3200:3200"   # UI/API queries
    restart: unless-stopped

  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    command: [ "-config.file=/etc/loki/local-config.yaml" ]
    volumes:
      - ./loki/loki-config.yml:/etc/loki/local-config.yaml:ro
    ports:
      - "3100:3100"
    restart: unless-stopped

  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./promtail/promtail-config.yml:/etc/promtail/config.yml:ro
    command: [ "--config.file=/etc/promtail/config.yml" ]
    depends_on:
      - loki
    restart: unless-stopped

  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: otelcol
    command: [ "--config=/etc/otel-collector.yml" ]
    volumes:
      - ./otel-collector/otel-collector.yml:/etc/otel-collector.yml:ro
    ports:
      - "4317:4317"
      - "4318:4318"
    depends_on:
      - tempo
      - prometheus
    restart: unless-stopped

  app:
    build: ./app
    container_name: node-app
    environment:
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4318
      - OTEL_SERVICE_NAME=node-demo-api
      - NODE_ENV=production
      - PORT=8080
    ports:
      - "8080:8080"
    depends_on:
      - otel-collector
    labels:
      - "promtail=true"
    restart: unless-stopped
